html {
    height: 100%;
}

body {
    background-color: rgba(241, 241, 235);
}

.container {
    background-color: rgba(251, 252, 247);
    border-radius: 10px;
    min-height: 550px;
}

.background-sub-nav {
    background-color: rgb(116, 116, 116);
    width: auto;
 }

.main-container {
    height: 100%;
    justify-content: space-evenly;
}

.item-detail-container {
    justify-content: center;
}

.item-detail-description {
    font-size: 1.5rem;
}

.form-container {
    width: 50vh;
    margin: 0 auto;
}

.user-menu {
    align-items: center;
}

.letters-header {
    color: rgba(118, 27, 234);
}